* {
  margin: 0;
  padding: 0;
  border: 0px solid black;
  font-family: "Baloo Chettan 2", cursive;
}

html {
  padding: 0;
}

body {
  padding: 0;
}

#root {
  padding: 0;
}

.grid-container {
  padding: 0;
  display: grid;
  grid-template-areas:
    "a a"
    "c d"
    "e e";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 0.2fr 8fr 1fr;
  height: 100vh;
}

.header {
  padding: 0;
  grid-area: a;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  grid-area: a;
}

.store-container {
  padding: 2em;
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.shopping-cart-container {
  padding: 2em;
  grid-area: d;
  border-left: 1px solid black;
}

.shopping-cart-row {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.cart-item-name {
  flex-grow: 2;
}

.cart-item-quantity {
  width: 4em;
  text-align: end;
}

.cart-item-button {
  width: 2em;
  height: 2em;
}

/* .shopping-cart-row:nth-child(2) {
}
.shopping-cart-row:nth-child(3) {
}
.shopping-cart-row:nth-child(4) {
}
.shopping-cart-row:nth-child(5) {
}
.shopping-cart-row:nth-child(6) {
} */

.footer {
  grid-area: e;
  border-top: 1px solid black;
}

.add-display {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  width: 10em;
  max-height: 20em;
}

.catalog-item-wrapper {
  padding: 0.2em;
  border: 1px solid lightgray;
}

.product-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-image {
  height: 10em;
  background-size: auto 100%;
  background-position: center;
  background-image: url("./layout/hidethepainharold.jpg");
}
