* {
  margin: 0px;
  padding: 5px;
  border: 0px solid black;
  font-family: "Baloo Chettan 2", cursive;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e e";
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  height: 100vh;
  background-color: aliceblue;
}

.header {
  grid-area: a;
}

.navbar {
  grid-area: b;
}

.store-container {
  grid-area: c;
}

.shopping-cart-container {
  grid-area: d;
}

.shopping-cart-row {
  display: flex;
}

.shopping-cart-row > input {
  width: 1.5em;
}

.footer {
  grid-area: e;
}

.add-display {
  display: flex;
  flex-direction: column;
}
